.homepage-container {
    padding: 20px 120px !important;
}

.hero-section {
    width: 100%;
}

.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    z-index: 1;
}

.hero-section .image {
    width: 100%;
    object-fit: cover;
    margin-top: -90px;
    min-height: 400px;
    z-index: -1;
}

.hero-section .hero-text-container {
    top: 205px;
    transform: translateY(-50%);
    left: 130px;
    max-width: 800px;
    z-index: 99;
}

.hero-section .text .text-line-1,
.hero-section .text .text-line-2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
}

.hero-section .text .text-line-3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
}

.filter-bar {
    padding: 20px 40px;
    background-color: var(--primary-white);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.7) !important;
    max-width: 1030px !important;
    margin: -42px auto 10px auto !important;
    border-radius: 4px;
    z-index: 10;
    transition: margin-top 0.2s ease-in-out;
}

.filter-bar .filter-bar-content .custom-filter-bar-icon {
    margin: 0 0 0 10px !important;
}

.filter-bar .filter-bar-content .filter-bar-title {
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 0 8px;
    color: var(--filter-bar-font-icon-color);
}

.filter-bar .filter-bar-content .filter-bar-icon {
    max-width: 15px;
    max-height: 15px;
    margin-right: 5px;
    color: var(--filter-bar-font-icon-color);
}

.filter-bar .filter-bar-content .filter-bar-input .form-select {
    width: 100px;
    background-color: transparent;
    background-position: left 60px center !important;
    font-size: 10px !important;
}

.filter-bar .filter-bar-content .filter-bar-input .form-select,
.filter-bar .filter-bar-content .custom-input-icon {
    background-image: url('../../../assets/images/icons/downArrow.svg');
    background-repeat: no-repeat;
    background-size: 5px;
    padding-right: 25px !important;
}

.filter-bar .filter-bar-content .custom-input-icon {
    background-position: left 72px center !important;
}

.filter-bar .filter-bar-content .filter-bar-button {
    margin: 0 0 0 -26px;
    border-radius: 4px;
    padding: 15px 46px !important;
    background-color: var(--secondary-dark-blue);
    color: var(--primary-white);
    font-weight: 400;
    font-size: 13px;
}

.filter-bar .filter-bar-content .custom-input-icon {
    appearance: none;
    -moz-appearance: none;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background: transparent;
    color: transparent;
    cursor: pointer;
}

.filter-bar .filter-bar-content .filter-bar-input .filter-input {
    width: 20px;
}

.filter-bar .filter-bar-content .filter-input-text {
    color: var(--secondary-light-gray);
    font-weight: 500;
    font-size: 10px !important;
    cursor: pointer;
}

.custom-date-input {
    position: relative;
}

.custom-date-input::-webkit-calendar-picker-indicator {
    opacity: 0.5;
    cursor: pointer;
}

.filter-bar .filter-bar-content .filter-bar-input {
    margin-left: 25px;
}

.filter-bar .filter-bar-content .filter-people-input {
    margin-left: 21px !important;
}

.filter-error-message {
    position: absolute !important;
    bottom: -15px !important;
    left: 36px !important;
    right: -22px !important;
    top: 39px;
    font-size: 10px !important;
    line-height: 1 !important;
    text-align: left !important;
}

.homepage-container .hotel-title {
    color: var(--primary-dark-blue);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 40px !important;
}

.homepage-container .hotel-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -25px;
    left: 0;
    background-color: var(--primary-yellow);
}

.homepage-container .hotel-container {
    padding-bottom: 25px;
}

.homepage-container .hotel-container .hotel-card {
    margin-top: 10px;
    cursor: pointer;
}

.homepage-container .hotel-container .hotel-card .hotel-image-container {
    height: 200px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.homepage-container .hotel-container .hotel-card .hotel-image-container .hotel-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.homepage-container .hotel-container .hotel-card .hotel-image-container .hotel-card-image-placeholder {
    width: 100%;
    height: 100%;
}

.homepage-container .hotel-container .hotel-card .hotel-info {
    padding-top: 15px;
}

.homepage-container .hotel-container .hotel-card .hotel-info .hotel-name {
    color: var(--secondary-dark-blue);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 6px;
    cursor: pointer;
}

.homepage-container .hotel-container .hotel-card .hotel-info .hotel-price {
    color: var(--primary-yellow);
    font-size: 20px;
    margin-bottom: 6px;
}

.homepage-container .hotel-container .hotel-card .hotel-info .hotel-price .hotel-price-per-night {
    color: var(--primary-yellow);
    font-size: 12px;
}

.homepage-container .hotel-container .hotel-card .hotel-info .hotel-address {
    font-size: 13px;
    color: var(--secondary-dark-blue);
}

.loading-spinner-container {
    min-height: 300px;
}

@media(min-width: 992px) and (max-width: 1350px) {
    .homepage-container {
        padding: 20px 85px !important;
    }

    .hero-section .text .text-line-1,
    .hero-section .text .text-line-2 {
        margin-top: -135px !important;
    }

    .homepage-container .hotel-container .hotel-card .hotel-image-container {
        height: 220px !important;
    }
}

@media (max-width: 991px) {
    .homepage-container {
        padding: 20px 65px !important;
    }

    .hero-section .hero-text-container {
        left: 60px;
    }

    .hero-section .text .text-line-1,
    .hero-section .text .text-line-2 {
        margin-top: -140px !important;
        font-size: 40px;
    }

    .hero-section .text .text-line-3 {
        font-size: 18px;
    }

    .homepage-container .hotel-title {
        margin-top: 20px !important;
    }

    .homepage-container .hotel-container .hotel-card .hotel-image-container {
        height: 220px !important;
    }
}

@media (min-width: 769px) and (max-width: 990px) {
    .filter-bar .filter-bar-content .filter-bar-button {
        margin: -11px auto 0px auto !important;
    }
}

@media (max-width: 768px) {
    .homepage-container {
        padding: 20px 65px !important;
    }

    .filter-bar .filter-bar-content>.col {
        border-right: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 15px;
        margin-bottom: 15px !important;
    }

    .filter-bar .filter-bar-content>.col:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0 !important;
    }

    .filter-bar .filter-bar-content .filter-bar-button {
        width: 100%;
        margin-left: 0;
    }

    .homepage-container .hotel-container .hotel-card .hotel-image-container {
        height: 220px !important;
    }
}

@media (max-width: 576px) {
    .homepage-container {
        padding: 20px 20px !important;
    }

    .filter-bar {
        padding: 20px
    }

    .hero-section .hero-text-container {
        left: 27px;
    }

    .hero-section .text .text-line-1,
    .hero-section .text .text-line-2 {
        margin-top: -130px !important;
        margin-left: -12px !important;
        font-size: 36px;
    }

    .hero-section .text .text-line-3 {
        font-size: 15px;
        margin-left: -12px !important;
    }

    .homepage-container .hotel-title {
        margin-top: 20px !important;
    }

    .homepage-container .hotel-container .hotel-card .hotel-image-container {
        height: 220px !important;
    }
}