.header-container {
    padding: 20px 105px;
    z-index: 1;
}

.header-home-opacity {
    opacity: 0.9;
}


.header-container,
#responsive-navbar-nav {
    background-color: var(--primary-dark-blue);
    color: var(--primary-white);
}

.header-container .header-logo .logo-image {
    cursor: pointer;
    max-width: 220px;
    max-height: 35px;
}

#responsive-navbar-nav .header-nav .nav-link {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 10px;
}

.header-container .header-nav .nav-link,
#responsive-navbar-nav .header-nav .nav-link {
    color: var(--primary-white);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
}

.header-container .header-nav .nav-link::after,
#responsive-navbar-nav .header-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 7px;
    left: 0;
    background-color: var(--primary-white);
    transition: width 0.3s ease;
}

#responsive-navbar-nav .header-nav .nav-link:hover::after,
#responsive-navbar-nav .header-nav .nav-link.active::after {
    width: 100%;
}

#responsive-navbar-nav .navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.header-container .header-actions .btn-header,
#responsive-navbar-nav .header-actions .btn-header {
    background-color: transparent;
    color: var(--primary-white);
    border: 0.5px solid var(--primary-white);
    padding: 7px 35px;
}

.header-container .header-actions .btn-header,
#responsive-navbar-nav .header-actions .btn-header,
.header-container .header-actions .btn-primary-header,
#responsive-navbar-nav .header-actions .btn-primary-header {
    font-size: 13px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.header-container .header-actions .btn-primary-header,
#responsive-navbar-nav .header-actions .btn-primary-header {
    background-color: var(--primary-white);
    border: 1px solid var(--secondary-dark-blue);
    padding: 8px 40px;
    color: var(--white-btn-font-color);
}

#responsive-navbar-nav .header-actions .btn-header,
#responsive-navbar-nav .header-actions .btn-primary-header {
    margin-left: 15px;
}

.header-container .header-actions .profile-img,
.offcanvas .header-actions .profile-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--secondary-white);
    border: 2px solid var(--primary-white);
}

/* Responsiveness */
@media (min-width: 992px) and (max-width: 1350px) {
    .header-container {
        padding: 20px 70px;
    }

    .header-container .header-logo .logo-image {
        max-width: 180px !important;
        max-height: 34px !important;
    }

    .header-container .header-nav {
        gap: 0px !important;
        margin-left: 48px !important;
    }

    .header-container .header-actions {
        gap: 0px !important;
    }

    .header-container .header-nav {
        gap: 28px;
        margin-right: 0px !important;
    }

    #responsive-navbar-nav .header-nav .nav-link {
        margin-left: 0px !important;
    }

    .header-container .header-actions .btn-header {
        padding: 7px 10px !important;
    }

    .header-container .header-actions .btn-primary-header {
        padding: 8px 15px !important;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding: 20px 50px;
    }

    .header-container .header-logo .logo-image {
        max-width: 180px !important;
        max-height: 34px !important;
    }

    .bg-dark-blue-offcanvas {
        background-color: var(--primary-dark-blue) !important;
    }

    .custom-offcanvas-width {
        width: 70% !important;
    }

    .header-container .header-nav {
        margin-right: 0;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        align-items: flex-start;
    }

    .header-container .header-nav .nav-link {
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .header-container .header-nav .nav-link::after {
        display: none;
    }

    .header-container .header-actions {
        width: 100%;
        justify-content: flex-start;
        margin-left: 0 !important;
        margin-top: 15px !important;
    }
}

@media (max-width: 576px) {
    .header-container {
        padding: 20px 5px;
    }

    .header-container .header-logo .logo-image {
        max-width: 180px !important;
    }

    .user-profile-header {
        width: 100%;
        justify-content: center;
    }

    .custom-offcanvas-width {
        width: 80% !important;
    }

    .header-container .header-actions .btn-header,
    #responsive-navbar-nav .header-actions .btn-header {
        padding: 7px 22px;
    }
}