.header-container {
    background-color: var(--primary-dark-blue);
    padding: 30px 150px;
    color: var(--primary-white);
}

.header-container .header-logo {
    gap: 8px;
    cursor: pointer;
    max-width: 220px;
    max-height: 37px;
}

.header-container .header-nav {
    gap: 28px;
    margin-right: 48.5px ;
}

.header-container .header-nav .nav-link {
    color: var(--primary-white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.header-container .header-actions {
    gap: 19px;
}

.header-container .header-actions .btn-header {
    background-color: transparent;
    color: var(--primary-white);
    border: 1px solid #4a4d6d;
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.header-container .header-actions .btn-primary-header {
    background-color: var(--primary-white);
    border: 1px solid var(--secondary-dark-blue);
    font-size: 15px;
    color: var(--white-btn-font-color);
    font-weight: 700;
}

.header-container .header-actions .profile-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--secondary-white);
    border: 2px solid var(--primary-white);
}

/* Responsiveness */
@media (max-width: 992px) {
    .header-nav {
        display: none;
    }
}

@media (max-width: 576px) {
    .header-container {
        padding: 16px;
    }

    .header-container .header-actions .btn-header {
        padding: 7px 16px;
        font-size: 14px;
    }
}