@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', 'Public Sans', 'Figtree', 'Roboto', 'Inter Tight', sans-serif;
}